__pycache__/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# db
*.sqlite3

# settings
config/settings/local.py
config/settings/production.py