# General
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
.idea/
*.code-workspace

# Django
__pycache__/

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# settings
config/settings/*
!config/settings/base.py
!config/settings/generate_secretkey.py
!config/settings/local.example.py
!config/settings/prod.example.py

# docker envs
.docker-config/*
!.docker-config/.dev.env.example
!.docker-config/.prod.env.example
!Dockerfile.dev
!Dockerfile.prod

# others
*.sqlite3
node_modules/