# General
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
.idea/
*.code-workspace

# python cache
__pycache__/

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# keys
id_rsa

# settings
config/settings/*
!config/settings/base.py
!config/settings/generate_secretkey.py
!config/settings/local.example.py
!config/settings/local-slim.example.py
!config/settings/prod.example.py

# docker envs
_docker/*
!_docker/.local.env.example
!_docker/.dev.env.example
!_docker/.prod.env.example
!_docker/local.Dockerfile
!_docker/dev.Dockerfile
!_docker/prod.Dockerfile
!_docker/docker-compose.yml
!_docker/docker-compose.dev.yml
!_docker/docker-compose.prod.yml


# others
*.sqlite3
node_modules/