{% extends 'layouts/default.html' %}
{% block css_link %}
{% endblock %}
{% block content %}

<div class="container mt-3">
  <div>
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
      아이디 또는 비밀번호가 잘못되었습니다. 다시 시도해주세요.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if next %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" >
      {% if user.is_authenticated %}
      액세스할 수 있는 유저로 로그인이 필요합니다.
      {% else %}
      이 페이지를 보려면 로그인이 필요합니다.
      {% endif %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
  </div>

  <div class="form-signin vstack gap-2 mx-auto text-center">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <h1 class="h3 mb-3 fw-normal">Aistock 로그인</h1>
      <div class="form-floating">
        <input type="text" class="form-control" name="username" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="아이디">
        <label for="id_username">아이디</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password" placeholder="비밀번호">
        <label for="id_password">비밀번호</label>
      </div>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
   

    {# Assumes you setup the password_reset view in your URLconf #}
</div>
<style>
  .form-signin {
    width: 300px;
    margin-top: 10rem;
  }
  .form-signin input#id_username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
</style>
{% endblock %}