{% extends 'layouts/default.html' %}
{% block css_link %}
{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="container mt-3">
  <div class="form-signin vstack gap-2 mx-auto text-center">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      <h1 class="h3 mb-3 fw-normal">Aistock 로그인</h1>
      <div class="form-floating">
        <input type="text" class="form-control" name="username" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="아이디">
        <label for="id_username">아이디</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password" placeholder="비밀번호">
        <label for="id_password">비밀번호</label>
      </div>
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
   

    {# Assumes you setup the password_reset view in your URLconf #}
</div>
<style>
  .form-signin {
    width: 300px;
    margin-top: 10rem;
  }
  .form-signin input#id_username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
</style>
{% endblock %}