{% extends 'layouts/default.html' %}
{% block css_link %}
{% endblock %}
{% block content %}
<div>
    <div class="container mt-5">
      <div class="card" id="stock_charts">
        <div class="card-body">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <h4>KOSPI</h4>
              <canvas class="my-4 w-100 chartjs-render-monitor" id="kospiChart" style="display: block; "></canvas>
            </div>
            <div class="col">
              <h4>KOSDAQ</h4>
              <canvas class="my-4 w-100 chartjs-render-monitor" id="kosdaqChart" style="display: block; "></canvas>
            </div>
          </div>
        </div>
      </div><!-- //#stock_charts -->
      <div class="row mt-5 g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5" id="stock_lists">
        <!--
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5>LSTM</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">AJ네트웍스</li>
                <li class="list-group-item">AK홀딩스</li>
                <li class="list-group-item">BGF</li>
                <li class="list-group-item">BNK금융지주</li>
                <li class="list-group-item">BYC</li>
              </ul>
            </div>
          </div>
        </div>
        -->
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5>모멘텀 1개월</h5>
              <ul class="list-group list-group-flush" id="rank_mo_1">
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5>모멘텀 3개월</h5>
              <ul class="list-group list-group-flush" id="rank_mo_3">
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5>듀얼 모멘텀</h5>
              <ul class="list-group list-group-flush" id="rank_dual_mo">
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5>급등주</h5>
              <ul class="list-group list-group-flush" id="rank_soaring">
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5>상승일빈도Top</h5>
              <ul class="list-group list-group-flush" id="rank_up_freq">
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
                <li class="list-group-item">...</li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- //#stock_lists -->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static '/js/main-page.js' %}"></script>
{% endblock %}