{% extends 'layouts/default.html' %}
{% block css_link %}
{% endblock %}
{% block content %}
<div class="container mt-3">
  <div class="mt-3">
    <h3>포트폴리오 만들기</h3>
  </div>
  <div>
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a href="#" class="flex-sm-fill text-sm-center nav-link active" id="pills-years-tab" data-bs-toggle="pill" data-bs-target="#pills-years" role="tab" aria-controls="pills-years" aria-selected="true">투자 기간</a>
      <a href="#" class="flex-sm-fill text-sm-center nav-link" id="pills-money-tab" data-bs-toggle="pill" data-bs-target="#pills-money" role="tab" aria-controls="pills-money" aria-selected="false">투자 금액</a>
      {% if optimize_method != 'max_sharpe' %}<a href="#" class="flex-sm-fill text-sm-center nav-link" id="pills-risk-tab" data-bs-toggle="pill" data-bs-target="#pills-risk" role="tab" aria-controls="pills-risk" aria-selected="false">감당 리스크</a>{% endif %}
      <a href="#" class="flex-sm-fill text-sm-center nav-link" id="pills-items-tab" data-bs-toggle="pill" data-bs-target="#pills-items" role="tab" aria-controls="pills-items" aria-selected="false">투자 종목</a>
    </nav>
    <div class="card mt-2">
      <div class="card-body" style="min-height: 300px;">
        <form class="portfolio-form" method="post" action="{% url 'portfolio:report' %}">
          {% csrf_token %}
          <input type="hidden" value="{{ optimize_method }}" name="optimize_method" id="p_optimize_method">
          <input type="hidden" value="custom" name="asset_method" id="p_asset_method">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-years" role="tabpanel" aria-labelledby="pills-years-tab">
              <div class="text-center" style="padding-top:5rem;">
                <h5 class="mb-4">투자 기간 입력</h5>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" value="1" class="btn-check" name="years" id="btnYear1" autocomplete="off" checked>
                  <label class="btn btn-outline-primary" for="btnYear1">1년</label>
                
                  <input type="radio" value="2" class="btn-check" name="years" id="btnYear2" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnYear2">2년</label>
                
                  <input type="radio" value="3" class="btn-check" name="years" id="btnYear3" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnYear3">3년</label>

                  <input type="radio" value="4" class="btn-check" name="years" id="btnYear4" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnYear4">4년</label>

                  <input type="radio" value="5" class="btn-check" name="years" id="btnYear5" autocomplete="off">
                  <label class="btn btn-outline-primary" for="btnYear5">5년</label>
                </div>
              </div>
            </div><!-- //div.tab-pane#pills-years -->
            <div class="tab-pane fade" id="pills-money" role="tabpanel" aria-labelledby="pills-money-tab">
              <h5 class="mt-5 mb-3">투자 금액 입력</h5>
              <div class="form-floating mb-3">
                <input type="text" value="15000000" class="form-control" name="money" id="idMoney" placeholder="투자 금액 (원 단위)">
                <label for="idMoney">투자 금액 (원 단위)</label>
              </div>
            </div><!-- //div.tab-pane#pills-money -->
            <div class="tab-pane fade" id="pills-risk" role="tabpanel" aria-labelledby="pills-risk-tab">
              <h5 class="mt-5 mb-3">감당 가능한 최대 리스크</h5>
              <div class="form-floating mb-3">
                <input type="text" value="30" class="form-control" name="risk" id="idRisk" placeholder="%">
                <label for="idRisk">%</label>
              </div>
            </div><!-- //div.tab-pane#pills-risk -->
            <div class="tab-pane fade" id="pills-items" role="tabpanel" aria-labelledby="pills-items-tab">
              <div class="text-center" id="subpane_asset_index" style="padding-top:5rem;">
                <h5 class="mb-5">투자 종목을 어떻게 선택하시겠습니까?</h5>
                <div class="row justify-content-center">
                  <div class="d-grid gap-2 gap-lg-3 col-sm-6">
                    <button class="btn btn-primary cs-handle-items-subpane" type="button" data-target="strategy">전략별 종목 리스트로 선택</button>
                    <button class="btn btn-secondary cs-handle-items-subpane {% if not user.is_authenticated %}disabled{% endif %}" type="button" data-target="pinned">관심 종목에서 선택</button>
                  </div>
                </div>
              </div><!-- //div.text-center -->
              <div style="display: none;" id="subpane_asset_strategy">
                <div class="text-center" style="padding-top:5rem;">
                  <h5 class="mb-5">전략별 종목 리스트로 선택</h5>
                  <div class="row justify-content-center">
                    <div class="col-10 col-sm-6 col-md-4 text-start mb-5">
                      <div class="form-check">
                        <input class="form-check-input" value="momentum_1month" type="radio" name="option_asset_method" id="rdStrategyMomentum1" checked>
                        <label class="form-check-label" for="rdStrategyMomentum1">
                          모멘텀 1개월
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" value="momentum_3month" type="radio" name="option_asset_method" id="rdStrategyMomentum3">
                        <label class="form-check-label" for="rdStrategyMomentum3">
                          모멘텀 3개월
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" value="dual_momentum" type="radio" name="option_asset_method" id="rdStrategyDualMomentum">
                        <label class="form-check-label" for="rdStrategyDualMomentum">
                          듀얼 모멘텀
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" value="soaring" type="radio" name="option_asset_method" id="rdStrategySoaring">
                        <label class="form-check-label" for="rdStrategySoaring">
                          급등주
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" value="up_freq" type="radio" name="option_asset_method" id="rdStrategyUpFreq">
                        <label class="form-check-label" for="rdStrategyUpFreq">
                          상승일 빈도 Top
                        </label>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">포트폴리오 만들기</button>
                </div>
              </div><!-- //div#pane-strategy-items -->
              <div style="display: none;" id="subpane_asset_pinned">
                <div class="text-center" style="padding-top:5rem;">
                  <h5 class="mb-5">관심 종목에서 선택</h5>
                  TEST
                  <button type="submit" class="btn btn-primary" data-asset-type="custom">포트폴리오 만들기</button>
                </div>
              </div><!-- //div#pane-pinned-items -->
            </div><!-- //div.tab-pane#pills-items -->
          </div><!-- //div.tab-content#pills-tabContent -->
        </form>
      </div><!-- //.card-body -->
    </div><!-- //.card -->
    <div class="d-flex justify-content-between my-3">
      <div>
        <button type="text" id="handle_pane_prev" class="btn btn-secondary" style="display:none">뒤로</button>
      </div>
      <div>
        <button type="text" id="handle_pane_next" class="btn btn-primary">다음</button>
      </div>
    </div>
  </div>
</div>
{% load static %}
<script src="{% static '/js/portfolio.js' %}"></script>
{% endblock %}