{% extends 'layouts/default.html' %}
{% block css_link %}
{% endblock %}
{% load static %}
{% block content %}
<div id="board" class="container mt-3">
  <h3>토론방</h3>
  <div class="card m-2">
    <div class="card-body" style="min-height:30rem">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="d-none d-lg-table-cell">번호</th>
            <th scope="col"><span class="d-none d-sm-inline">제목</span><span class="d-inline d-sm-none">목록</span></th>
            <th scope="col" class="d-none d-sm-table-cell">글쓴이</th>
            <th scope="col" class="d-none d-sm-table-cell">조회수</th>
            <th scope="col" class="d-none d-lg-table-cell">작성일</th>
          </tr>
        </thead>
        {% for post in main_list %}
        <tr>
          <td class="d-none d-lg-table-cell">
            {{ post.id }}
          </td>
          <td class="">
            {% if post.depth > 0 %}<img src="{% static 'board/reply.png' %}" class="{% if post.depth > 5 %}board-depth-5{% else %}board-depth-{{post.depth}}{% endif %}">{% endif %}
            <a href="{% url 'board:view' board.route post.id %}{{ queryString }}" class="link-secondary">{{ post.title }}</a>
            <div class="d-block d-sm-none">
              <br>
              작성자 : {{ post.author.username }}<br>
              조회수 {{ post.hit }}
            </div>
          </td>
          <td class="d-none d-sm-table-cell">{{ post.author.username }}</td>
          <td class="d-none d-sm-table-cell">{{ post.hit }}</td>
          <td class="d-none d-lg-table-cell">{{ post.created_at | date:'Y-m-d' }}</td>
        </tr>
        {% endfor %}
      </table>
    </div><!-- //div.card-body -->
  </div><!-- //div.card -->
  <!-- paginator -->
  {% if main_list.paginator.count > 0 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if main_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{ baseurl }}?page={{ main_list.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for page_number in main_list.paginator.page_range %}
        {% if page_number >= main_list.number|add:-5 and page_number <= main_list.number|add:5 %}
          {% if page_number == main_list.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="{{ baseurl }}?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
              <a class="page-link" href="{{ baseurl }}?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if main_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ baseurl }}?page={{ main_list.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  
  <div class="mx-2">
		<a href="{% url 'board:write' board.route %}{{ queryString }}" class="btn btn-outline-secondary btn-sm">글쓰기</a>
	</div>
</div>
<style>
  .board-depth-1 {
    padding-left: 1rem
  }
  .board-depth-2 {
    padding-left: 2rem
  }
  .board-depth-3 {
    padding-left: 3rem
  }
  .board-depth-4 {
    padding-left: 4rem
  }
  .board-depth-5 {
    padding-left: 5rem
  }
</style>
{% endblock %}