{% extends 'layouts/default.html' %}
{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="board">
	<form class="board-form" method="post" action="{{ baseurl }}/reply">
		{% csrf_token %}
		<input type="hidden" name="g_no" value="{{ origin.g_no }}">
		<input type="hidden" name="o_no" value="{{ origin.o_no }}">
		<input type="hidden" name="depth" value="{{ origin.depth }}">
		<table class="tbl-ex">
			<tr>
				<th colspan="2">답글달기</th>
			</tr>
			<tr>
				<td class="label">제목</td>
				<td><input type="text" name="title" value=""></td>
			</tr>
			<tr>
				<td class="label">내용</td>
				<td>
					<textarea id="content" name="contents"></textarea>
				</td>
			</tr>
		</table>
		<div class="bottom">
			<a href="{{ baseurl }}">취소</a>
			<input type="submit" value="등록">
		</div>
	</form>
</div>
{% endblock %}