{% extends 'layouts/default.html' %}
{% block css_link %}
{% endblock %}
{% block content %}
<div class="container mt-3">
  <div class="mt-3">
    <h3>전략별 종목 리스트</h3>
    <a href="{% url 'strategy:mo_1' %}" class="btn my-1 {% if strategy_type == 'mo_1' %}btn-primary{% else %}btn-secondary{% endif %}">모멘텀 1개월</a>
    <a href="{% url 'strategy:mo_3' %}" class="btn my-1 {% if strategy_type == 'mo_3' %}btn-primary{% else %}btn-secondary{% endif %}">모멘텀 3개월</a>
    <a href="{% url 'strategy:dual_mo' %}" class="btn my-1 {% if strategy_type == 'dual_mo' %}btn-primary{% else %}btn-secondary{% endif %}">듀얼 모멘텀</a>
    <a href="{% url 'strategy:soaring' %}" class="btn my-1 {% if strategy_type == 'soaring' %}btn-primary{% else %}btn-secondary{% endif %}">급등주</a>
    <a href="{% url 'strategy:up_freq' %}" class="btn my-1 {% if strategy_type == 'up_freq' %}btn-primary{% else %}btn-secondary{% endif %}">상승일 빈도 Top</a>
    <div class="card mt-2">
      <div class="card-body" style="min-height:30rem">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">종목코드</th>
                <th scope="col">종목명</th>
                <th scope="col">구분</th>
                <th scope="col">전일종가</th>
                {% if is_rank_enabled %}
                <th scope="col">순위</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for item in main_list %}
              <tr>
                <th>{{ item.ticker }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.market }}</td>
                <td>{{ item.close|floatformat:"0g" }}</td>
                {% if is_rank_enabled %}
                <td>{{ item.rank }}</td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}