# Docker Compose Options
COMPOSE_PROJECT_NAME=aistock
COMPOSE_FILE=docker-compose.yml

# MySQL Options
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=aistock
MYSQL_USER=aistock
MYSQL_PASSWORD=
MYSQL_PORT=3306
MYSQL_PORT_EXTERNAL=13306
MYSQL_IMAGE_VER=5.7

# django and webapp
DJANGO_SETTINGS_MODULE=config.settings.local
APP_DOCKFILE=./.docker-config/Dockerfile.dev
APP_PORT=8000
APP_PORT_EXTERNAL=18000