# 개발 서버용 Docker 설정 [Docker 환경 변수 등]

# Docker Compose 설정
COMPOSE_PROJECT_NAME=aistock-dev
COMPOSE_FILE=docker-compose.dev.yml

# MySQL 데이터베이스 설정
MYSQL_ROOT_PASSWORD=(입력필요)
MYSQL_DATABASE=aistock
MYSQL_USER=aistock
MYSQL_PASSWORD=(입력필요)
MYSQL_PORT=3306
MYSQL_PORT_EXTERNAL=23306
MYSQL_IMAGE_VER=8.0

# Django, Application 설정
DJANGO_SETTINGS_MODULE=config.settings.dev
APP_DOCKFILE=_docker/dev.Dockerfile
APP_PORT=8000
APP_PORT_EXTERNAL=28000
DJANGO_SUPERUSER_USERNAME=(입력필요)
DJANGO_SUPERUSER_EMAIL=(입력필요)
DJANGO_SUPERUSER_PASSWORD=(입력필요)