# 개발 환경, 로컬 환경에서의 Docker [환경 설정]
# Docker Compose Options
COMPOSE_PROJECT_NAME=aistock-local
COMPOSE_FILE=_docker/docker-compose.yml

# MySQL Options
MYSQL_ROOT_PASSWORD=(입력필요)
MYSQL_DATABASE=aistock
MYSQL_USER=aistock
MYSQL_PASSWORD=(입력필요)
MYSQL_PORT=3306
MYSQL_PORT_EXTERNAL=13306
MYSQL_IMAGE_VER=8.0

# django and webapp
DJANGO_SETTINGS_MODULE=config.settings.local
APP_DOCKFILE=_docker/Dockerfile.local
APP_PORT=8000
APP_PORT_EXTERNAL=18000
DJANGO_SUPERUSER_USERNAME=(입력필요)
DJANGO_SUPERUSER_EMAIL=(입력필요)
DJANGO_SUPERUSER_PASSWORD=(입력필요)